In [41]:
#1. Take values of length and breadth of a rectangle from user and check if it is square or not. Return area.

length = 10
breadth = 10

if length == breadth:
    print("Square")
else:
    print("Rectangle")
area = length * breadth
print("Area:", area)

Square
Area: 100

In [42]:
#2. Write a Python program which accepts the radius of a circle from the user and compute the area.

radius = 10
PI = 3.14
area = PI * radius ** 2
print("Area of Circle:", area)

Area of Circle: 314.0

In [43]:
#3. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

n = 5
value = n * (1 + 11 + 111)
print("Value of N:", n)
print("Computed value of n+nn+nnn:", value)

Value of N: 5
Computed value of n+nn+nnn: 615

In [44]:
#4. A company decided to deduct pf of 12% of salary if year of service is less than 5 year and 24% employee if his/her year of service is more than 5 years.
#Ask user for their salary and year of service and print the net in-hand salary after pf deduction.

salary = 10000
year_of_service = 2

if year_of_service < 5:
    pf_percent = 12
else:
    pf_percent = 24
    
net_salary = salary * ( 1 - pf_percent / 100)
print("NetSalary after pf deduction:", net_salary)

NetSalary after pf deduction: 8800.0

5. A school has following rules for grading system:
    a. Below 40 - F
    b. 40 to 50 - C
    c. 50 to 60 - C+
    d. 60 to 70 - B
    e. 70 to 80 - B+
    f. 80 to 90 - A
    g. Above 90 - A+
    Ask user to enter marks for their 5 main subject and print the corresponding grade and overall grade for average of marks.

In [6]:
def grade(i,marks):
    if marks in range(40):
        print("Subject",i,"Grade - F")
    elif marks in range(40,50):
        print("Subject",i,"Grade - C")
    elif marks in range(50,60):
        print("Subject",i,"Grade - C+")
    elif marks in range(60,70):
        print("Subject",i,"Grade - B")
    elif marks in range(70,80):
        print("Subject",i,"Grade - B+")
    elif marks in range(80,90):
        print("Subject",i,"Grade - A")
    elif marks in range(90,101):
        print("Subject",i,"Grade - A+")
    
subjects_marks = [40,35,70,30,100]
i=0
total_marks = 0
for marks in subjects_marks:
    i +=1
    total_marks += marks
    grade(i,marks)

avg = total_marks / i
grade("Avg",avg)

Subject 1 Grade - C
Subject 2 Grade - F
Subject 3 Grade - B+
Subject 4 Grade - F
Subject 5 Grade - A+
Subject Avg Grade - C+

6. A student will not be allowed to sit in exam if his/her attendence is less than 75%.
    Take following input from user
    Number of classes held
    Number of classes attended.
    And print
    percentage of class attended
    Is student is allowed to sit in exam or not.

7. Modify the above question to allow student to sit if he/she has medical cause reduce attendance criteria to 60%. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [45]:
#6 and 7:Answer

number_of_classes_attended = 50
number_of_classes_held = 100
medical_cause = "N"

attendence_percent = number_of_classes_attended / number_of_classes_held * 100
print("Attendence Percentage:", attendence_percent)

if attendence_percent >= 75:
    print("Eligible to sit in Exam")
elif medical_cause == "Y" and attendence_percent >= 60:
    print("Due to medical emergency : Allowed to sit in Exam even afer attendance percent is less than 75")
else:
    print("Not Eligible to sit in Exam")

Attendence Percentage: 50.0
Not Eligible to sit in Exam

8. Write a program to check if a year is leap year or not.
   If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [46]:
year = 2000

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap Year")
        else:
            print("Not Leap Year")
    else:
        print("Leap Year")
else:
    print("Not a leap year")

Leap Year

In [48]:
#different method with truth table
year = 1900

if year % 4 == 0 and ((year % 100 == 0) == (year % 400 == 0)):
    print("Leap Year")
else:
    print("Not Leap Year")

Not Leap Year

9. Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.
if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 30 and not married then he may work in anywhere.

if employee is a female and age is in between 20 to 30 and not married then she may work in urban areas.

if employee is male and age is in between 20 t0 30 and married then he will work in nearby Hometown.

if employee is female and age is in between 20 t0 30 and married then she will work in her husband's city.

And any other input of age should print "ERROR".

In [49]:
age = 25
gender = "M"
marital_status = "N"

if(age >= 20 and age <= 30):
    if gender == "F" and marital_status == "Y" :
        print("Female Employee will work in Husband's city")
    elif gender == "F":
        print("Female Employee will work only in urban areas")
    elif gender == "M" and marital_status == "Y":
        print("Male married employee will work in nearby Hometown")
    else:
        print("Bachelor Male employee can work anywhere")
else:
    print("ERROR")

Bachelor Male employee can work anywhere

10. A 4 digit number is entered through keyboard. Write a program to print a new number with digits reversed as of orignal one. E.g.-
INPUT : 1234        OUTPUT : 4321
INPUT : 5982        OUTPUT : 2895
NOTE:- Do not use builtin functions e.g. sort(), reverse() and loop try to solve it by if-else

In [12]:
number = 124
reverse = 0
if(number < 0):
    print("Number is invalid")
else:
    while number:
        last_digit = number % 10
        reverse = reverse * 10 + last_digit
        number = number // 10
    

print("Reverse: ", reverse)

Reverse:  421

11. Write a program to find sum of digits of given number by user answer should be of single digit.
    Example: input: 25643
    sum of digits of 2+5+6+4+3 = 20
    again find sum of digits of 20 and final answer would be 2+0 = 2

In [17]:
number = 1
sum = 0
if(number < 10):
    sum = number
else:
    while number:
        last_digit = number % 10
        number //= 10
        sum += last_digit
       
if(sum >= 10):
    last_digit = sum % 10
    sum = sum // 10 + last_digit
 
print("Sum of digits", sum)

Sum of digits 1

12. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [32]:
start = 1503
end = 2700
print("Numbers divisible by 7 and multiple of 5 between",start,"and",end)
#To get intial number which is divisible by 7 
# Dividend = Divisor * Quotient + Remainder
rem = start % 7
if rem != 0:
    start -= rem + 7  

#Loop to check numbers that are multiples of 5
while start <= end:
    if(start % 5 == 0):
        print(start)
    start += 7

Numbers divisible by 7 and multiple of 5 between 1503 and 2700
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

13. A shop will give discount of 10% max upto 100rs if the cost of purchased quantity is more than 1000.
    Ask user for quantity
    Suppose, one unit will cost 100rs.
    Judge and print total cost for user.

In [52]:
quantity = 10
UNITCOST = 100
DISCOUNT_PERCENT = 10
MAX_DISCOUNT = 100
discount = 0
total_cost = quantity * UNITCOST

if total_cost > 1000:
    discount = total_cost * DISCOUNT_PERCENT / 100
    if discount > 100:
        discount = MAX_DISCOUNT

final_cost = total_cost - discount
print("Total Cost:", total_cost)
print("Final Cost after discount:", final_cost)

Total Cost: 1000
Final Cost after discount: 1000

14. Write a Python program to calculate number of days between two dates.

In [40]:
#Not yet completed, Still need to add code for Case : invalid date and Case : leap year
months = {1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
day1 = 31
month1 = 1
year1 = 1997

day2 = 1
month2 = 10
year2 = 1997

days = 0
if(year2 - year1 == 0):
    if(month2 - month1 > 0):
        i = month1
        while i < month2:
            days += months[i]
            i += 1
        days += day2 - day1

elif(year2 - year1 > 0):
    days = (year2 - year1) * 365
    if(month2 - month1 > 0):
        i = month1
        while i < month2:
            days += months[i]
            i += 1
    elif(month2 - month1 < 0):
        i = month2
        while i < month1:
            days -= months[i]
            i += 1
    days += day2 - day1

print(days)

243